body{
    background-color: #8094a8;
}
.task-completed{
    background-color: rgb(130, 242, 130);
    text-decoration: line-through;
    color: white;
}
.edit-input{
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    outline: none;
}
